
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 84px;
    padding-bottom: 100px;
}

.services-card{
    background-color: #18191c;
    border-radius: 1.5rem;
    width: 100%;
    height: 520px;
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

.services-heading{
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -2.8px;
    width: 25%;
}

.services-info{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: end;
}
.services-info p{
    font-size: 24px;
    width: 70%;
}

@media (max-width:1344px){
    .services-heading{
        font-size: 65px;
    }
}
@media (max-width:1145px){
    .services-heading{
        font-size: 55px;
    }
    .services-info p{
        font-size: 20px;
    }
}
@media (max-width:1017px){
    .services-heading{
        font-size: 70px;
    }
    .services-card{
        flex-direction: column;
        justify-content: start;
        gap: 20px;
    }
    .services-info p{
        width: 100%;
    }
    .services-info{
        align-items: start;
        gap: 15px;
    }
}

@media (max-width: 885px){
    .services-card{
        padding: 40px;
    }
    .services{
        padding: 0 20px;
        padding-bottom: 100px;
    }
}

@media (max-width: 500px){
    .services-heading{
        font-size: 55px; 
    }
    .services-info p{
        font-size: 18px;
        width: 100%;
    }
    .services-card{
        padding-top: 40px;
        padding: 20px;
        height: 400px;
    }
}
@media (max-width: 430px){
    .services-heading{
        font-size: 50px;
    }
}