
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #121315;
    --font-color: #e0eeee;
    --menu-bg-color: #a6a9b033

}

body{
    background-color: var(--bg-color);
    font-family: 'Nunito Sans', sans-serif;
    color: var(--font-color);
    font-size: 40px;
}

.bg-img {
    background-image: url("../assets/home-bg.avif");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    padding: 0 84px;
    padding-bottom: 34px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.bg-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px); 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.bg-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust as needed */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #121212 100%);
    pointer-events: none;
}

.bg-img * {
    position: relative;
    z-index: 2;
}


nav {
    top: 34px;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 84px;
    right: 84px;
}

nav .logo{
    font-size: 24px;
}

nav .menu-text{
    font-size: 14.4px;
}

.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-right .menu-icon{
    background-color: #a6a9b033;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 250px 70px 80px 70px;
    text-align: center;
    gap: 30px;
}

.hero .main-heading{
    font-size: 98.2px;
    font-weight: bold;
    line-height: 4.8rem;
    letter-spacing: -3px;
    width: 1090px;
}

.hero .sub-heading{
    font-size: 12.48px;
    width: 414.2px;
}

.hero-bottom-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    outline: none;
    background: transparent;
    border: 0 solid #eee;
    border-radius: 9999px;
    border-width: 2px;
    border-color: #c5fcfc;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c5fcfc;
    font-size: 14.4px;
    padding: 22px 42px;
    letter-spacing: .11125rem;
}

button:hover{
    transition: all ease .5s;
    background-color: #c5fcfc;
    color: #121212;
    cursor: pointer;
}


@media (max-width: 1262px){
    .hero .main-heading{
        font-size: 84px;
        width: 950px;
        line-height: 4rem;
    }
    .hero-bottom-buttons button{
        padding: 20px 40px;
    }

    .bg-img{
        padding: 34px 75px;
    }
}
@media (max-width: 1057px){
    .hero .main-heading{
        font-size: 78px;
        width: 850px;
        line-height: 3.8rem;
    }
    .hero-bottom-buttons button{
        padding: 18px 36px;
    }
    .bg-img{
        padding: 34px 60px;
    }
}
@media (max-width: 922px){
    .hero .main-heading{
        font-size: 68px;
        width: 750px;
        line-height: 3.4rem;
        letter-spacing: -2px;
    }
    .hero .sub-heading{
        font-size: 12px;
    }
    .hero-bottom-buttons button{
        padding: 16px 32px;
    }
    .bg-img{
        padding: 34px 50px;
    }
    .hero{
        gap: 25px;
    }
}
@media (max-width: 758px){
    .hero .main-heading{
        font-size: 58px;
        width: 650px;
        letter-spacing: -1.5px;
        line-height: 3rem;
    }
    .hero .sub-heading{
        font-size: 11px;
    }
    .hero-bottom-buttons button{
        padding: 14px 28px;
        font-size: 13px;
    }
    .bg-img{
        padding: 34px 40px;
    }
    .hero{
        gap: 20px;
    }
}
@media (max-width: 690px){
    .hero .main-heading{
        font-size: 50px;
        width: 570px;
        letter-spacing: -1.2px;
        line-height: 2.8rem;
    }
    .hero .sub-heading{
        font-size: 10px;
    }
    .hero-bottom-buttons button{
        padding: 12px 24px;
        font-size: 12px;
    }
    .bg-img{
        padding: 34px 30px;
    }
    .hero{
        gap: 12px;
    }
}
@media (max-width: 580px){
    .hero .main-heading{
        font-size: 45px;
        width: 500px;
        letter-spacing: -1px;
        line-height: 2.7rem;
    }
    .hero .sub-heading{
        font-size: 10px;
    }
    .hero-bottom-buttons button{
        padding: 10px 20px;
        font-size: 11.5px;
    }
    .bg-img{
        padding: 34px 20px;
    }
    .hero{
        gap: 12px;
    }
}
@media (max-width: 530px){
    .hero .main-heading{
        font-size: 45px;
        width: 300px;
        line-height: 2.7rem;
        letter-spacing: -1px;
    }
    .hero .sub-heading{
        font-size: 10px;
        width: 250px;
    }
    .hero-bottom-buttons button{
        padding: 10px 20px;
        font-size: 11.5px;
    }
    .bg-img{
        padding: 34px 20px;
    }
    .hero{
        gap: 12px;
    }
}



/* ////////////////////////////////////////////// HIGHLIGHTS SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.highlights-section{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 130px 84px;
}

.highlights-section .highlights{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.highlights-section .highlights .highlights-heading{
    font-size: 150px;
    font-weight: bold;
    line-height: 7.8rem;
    letter-spacing: -8px;
    width: 700px;
}

.highlights-section .highlights .highlights-sub-heading{
    font-size: 28px;
    line-height: 2rem;
    width: 420px;
    padding-left: 10px;
}

.key-features{
    padding: 84px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.key-features-info{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.key-features-info button, .key-features-info2 button{
    width: 200px;
}

.contents img{
    width: 672px;
    height: 448px;
    border-radius: 1.5rem;
    object-fit: cover;
    display: block;
}

.cursor{
    height: 10px;
    width: 10px;
    background-color: white;
    position: fixed;
    border-radius: 50%;
    z-index: 9;
    font-size: 3px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.key-headings{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.key-heading{
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -3px;
    line-height: 3.5rem;
}

.key-sub-heading{
    font-size: 22px;
}

.key-features-info2{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 50px;
}

.key-headings2{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 15px;
}

.key-headings2 .key-heading{
    text-align: end;
}



/* ////////////////////////////////////////////// TESTIMONIAL SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.testi{
    padding: 130px 84px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.testi .testi-heading{
    font-size: 150px;
    font-weight: bold;
    line-height: 7.8rem;
    letter-spacing: -8px;
    text-transform: uppercase;
}

.testimonials{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.testimonial-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.testimonial-right{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 240px;
}

.testimonial-card{
    width: 42.5vw;
    height: 28.95vw;
    background-color: #38383833;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
}

.card1:hover{
    background-color: rgba(221, 53, 0, 0.9);
    transition: all ease .5s;
}
.card2:hover{
    background-color: rgba(220, 229, 229, 0.9);
    transition: all ease .5s;
    color: #121212;
}
.card3:hover{
    background-color: rgba(176, 221, 202, 0.9);
    transition: all ease .5s;
    color: #121212;
}
.card4:hover{
    background-color: rgba(244, 227, 66, 0.9);
    transition: all ease .5s;
    color: #121212;
}
.card5:hover{
    background-color: rgba(125, 244, 66, 0.9);
    color: #121212;
}



.testimonial-card .review{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 52px;
    line-height: 3rem;
    letter-spacing: -3px;
    text-transform: capitalize;
}

.testimonial-card .name{
    display: flex;
    justify-content: end;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
}



/* ////////////////////////////////////////////// FOOTER SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.footer{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 130px 84px;
}

.footer-heading{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.footer-heading p{
    width: 600px;
    font-size: 150px;
    font-weight: bold;
    line-height:7rem;
    letter-spacing: -6px;
    text-transform: uppercase;
}

.quick-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
    padding: 40px 0;
}

.quick-links .left{
    display: flex;
    gap: 60px;
}

.footer-sub-heading{
    font-size: 14px;
    text-transform: uppercase;
}

.footer-data{
    font-size: 28px;
}

.right p{
    text-align: end;
}

.rights{
    font-size: 14px;
    text-transform: uppercase;
}

button.fill{
    background-color: #c5fcfc;
    color: #121212;
}




/* ////////////////////////////////////////////// RESPONSIVE KEY FEATURES \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media (max-width: 1255px){
    .highlights-section .highlights .highlights-heading{
        font-size: 120px;
    }
    .highlights-section .highlights .highlights-sub-heading{
        font-size: 24px;
    }
    .contents img{
        width: 600px;
        height: 400px;
    }
    .key-heading{
        font-size: 50px;
    }
    .key-sub-heading{
        font-size: 18px;
    }
}
@media (max-width: 1100px){
    .highlights-section .highlights .highlights-heading{
        font-size: 120px;
        width: 600px;
        letter-spacing: -.125rem;
    }
    .highlights-section .highlights .highlights-sub-heading{
        font-size: 24px;
    }
    .contents img{
        width: 480px;
        height: 320px;
    }
    .key-heading{
        font-size: 40px;
    }
    .key-sub-heading{
        font-size: 16px;
    }
}

@media (max-width: 960px){
    .highlights-section .highlights .highlights-heading{
        font-size: 100px;
        width: 500px;
        line-height: 5rem;
    }
    .highlights-section .highlights .highlights-sub-heading{
        font-size: 24px;
    }
    .contents img{
        width: 100%;
        height: 38vw;
    }
    .key-features-info{
        align-items: center;
    }
    .key-features-info2{
        align-items: center;
    }
    .key-headings{
        align-items: center;
    }
    .key-headings2{
        align-items: center;
    }
    .key-heading{
        font-size: 40px;
    }
    .key-sub-heading{
        font-size: 16px;
    }
    .contents{
        flex-direction: column;
    }
    .contents-reverse{
        flex-direction: column-reverse;
    }
}

@media (max-width: 885px){
    .highlights-section .highlights .highlights-heading{
        font-size: 80px;
        width: 400px;
    }
    .highlights-section .highlights .highlights-sub-heading{
        font-size: 22px;
    }
    .highlights-section{
        flex-direction: column;
        align-items: start;
        gap: 50px;
        padding: 130px 40px;
    }
    .highlights-section{
        padding: 65px 20px;
    }
    .key-features{
        padding: 65px 20px;
    }
    .testi{
        padding: 65px 20px;
    }
    .footer{
        padding: 65px 20px;
    }
    .testi{
        gap: 20px;
    }
    nav{
        left: 20px;
        right: 20px;
    }
}

@media (max-width: 600px) {
    .contents img{
        height: 60vw;
    }
    .key-heading{
        text-align: center;
        line-height: 2rem;
    }
    .key-headings2 .key-heading{
        text-align: center;
    }
    .highlights-section .highlights .highlights-heading{
        letter-spacing: -.125rem;
        line-height: 3rem;
    }
    .highlights-section .highlights .highlights-sub-heading{
        padding-left: 0;
        line-height: 1.3rem;
    }
    .key-features-info{
        gap: 20px;
    }
    .key-features-info2{
        gap: 20px;
    }
}

@media (max-width: 471px){
    .highlights-section .highlights .highlights-heading{
        font-size: 60px;
        width: 300px;
    }
    .highlights-section .highlights .highlights-sub-heading{
        font-size: 18px;
        width: 300px;
    }
}




/* ////////////////////////////////////////////// RESPONSIVE TESTIMONIAL SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media (max-width: 1300px) {
    
    .testi .testi-heading{
        font-size: 12vw;
    }
    .testimonial-card .review{
        font-size: 40px;
        line-height: 3rem;
        letter-spacing: -2.5px;
    }
    .testimonial-card{
        padding: 40px;
    }
}

@media (max-width: 1060px) {
    .testimonial-card .review{
        font-size: 32px;
        line-height: 3rem;
        letter-spacing: -2px;
    }
}

@media (max-width: 960px) {
    .testimonials{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .testimonial-left{
        width: 100%;
    }
    .testimonial-right{
        padding-top: 0;
    }
    .testimonial-card{
        width: 100%;
    }
    .card1{
        background-color: rgba(221, 53, 0, 0.9);
    }
    .card2{
        background-color: rgba(176, 221, 202, 0.9);
        color: #121212;
    }
    .card3{
        background-color: rgba(220, 229, 229, 0.9);
        color: #121212;
    }
    .card4{
        background-color: rgba(244, 227, 66, 0.9);
        color: #121212;
    }
    .card5{
        background-color: rgba(133, 197, 88, 0.9);
        color: #121212;
    }

}

@media (max-width: 628px) {
    .testimonial-card{
        height: 40vw;
    }
    .testi .testi-heading{
        letter-spacing: -3px;
    }
    
}
@media (max-width: 520px) {
    .testimonial-card{
        height: 60vw;
    }
}



/* ////////////////////////////////////////////// RESPONSIVE FOOTER SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


@media (max-width: 960px){
    .footer-heading{
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: start;
    }
    .footer-heading p{
        font-size: 20vw;
        line-height: 7.5rem;
        width: 400px;
    }
}

@media (max-width: 750px){
    .quick-links{
        align-items: start;
        gap: 60px;
    }
    .footer-heading p{
        line-height: 4.5rem;
    }
    .quick-links, .quick-links .left{
        flex-direction: column;
    }
    .quick-links .right p{
        text-align: start;
    }
    .footer-heading p{
        width: 300px;
    }
    .footer{
        gap: 50px;
    }
}