

.trainers{
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 80px;
    padding: 70px 84px;
}

.trainer-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 22vw;
}

.trainer-card img{
    width: 22vw;
    height: 29vw;
    object-fit: cover;

}

.trainer-name{
    font-size: 24px;
    font-weight: bold;
}

.trainer-designation{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.trainer-description{
    font-size: 16px;
    width: 22vw;
}

@media (max-width: 885px) {
    .trainers{
        padding: 70px 20px;
    }
    .trainer-card{
        width: 29vw;
    }
    .trainer-description{
        width: 29vw;
    }
    .trainer-card img{
        width: 29vw;
        height: 38vw;
    }

}

@media (max-width: 660px){
    .trainer-card{
        width: 44vw;
    }
    .trainer-description{
        width: 44vw;
    }
    .trainer-card img{
        width: 44vw;
        height: 50vw;
    }
}

@media (max-width: 500px){
    .trainers{
        justify-content: center;
    }
    .trainer-card{
        width: 80vw;
    }
    .trainer-description{
        width: 80vw;
    }
    .trainer-card img{
        width: 80vw;
        height: 95vw;
    }
}